{
  "presets": [
    // Webpack understands the native import syntax, and uses it for tree
    // shaking.
    // https://webpack.js.org/guides/hmr-react/
    ["es2015", {"modules": false}],

    // Specifies what level of language features to activate.
    // Stage 2 is "draft", 4 is finished, 0 is strawman.
    // See https://tc39.github.io/process-document/
    // https://webpack.js.org/guides/hmr-react/
    "stage-2",

    // Transpile React components to JavaScript.
    // https://webpack.js.org/guides/hmr-react/
    "react"
  ],

  // Enables React code to work with HMR.
  // https://webpack.js.org/guides/hmr-react/
  "plugins": ["react-hot-loader/babel"]
}
