.selected-result {
  position: relative;
  display: inline-block;
  border: solid 1px black;
  cursor: pointer;
  background-size: cover;
  height: 90px;
  margin-right: 2%;

  // Space results out in thirds, leaving space for 2% margins on the first two
  // results.
  width: 32%;

  // Remove margin from last result.
  &:last-of-type {
    margin-right: 0;
  }

  &__caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    color: white;
    padding: 2px;
    background: linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)
    );
    letter-spacing: .05rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__cross {
    position: absolute;
    padding: 2px;
    right: 0px;
    top: 0px;
    color: darken(white, 20%);
    font-size: 1.5rem;
    background: linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)
    );
  }
}
