.selected-result {
  position: relative;
  display: inline-block;
  border: solid 1px black;
  cursor: pointer;

  &__caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    color: white;
    padding: 2px;
    background: linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)
    );
    letter-spacing: .05rem;
  }

  &__cross {
    position: absolute;
    padding: 2px;
    right: 0px;
    top: 0px;
    color: darken(white, 20%);
    font-size: 1.5rem;
    background: linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)
    );
  }
}
