@import "../../assets/css/mixins/colors.scss";

.selected-results {
  height: 120px;
  text-align: center;

  .go-button {
    border: 0;
    background: transparent;
    height: 90px;
    font-size: 5rem;
    vertical-align: top;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }
}
