@import "../../assets/css/mixins/colors.scss";
@import "../../assets/css/mixins/keylines.scss";

.selected-results {
  padding-top: 30px;
  @include respond-to(mobile) { padding-top: 10px; }

  .go-button {
    border: 0;
    background-color: $pink;
    height: 50px;
    font-size: 1.8rem;
    color: white;
    outline: none;
    cursor: pointer;
    width: 32%;
    margin-top: 20px;
    @include respond-to(mobile) { margin-top: 5px; }
    float: right;
    box-shadow: 6px 6px 9px -3px rgba(0,0,0,0.13);

    &:hover {
      background-color: lighten($pink, 10%);
    }

    i::before {
      font-size: 1.2rem;
      display: inline-block;
      height: 10px;
      padding-left: 10px;
      padding-top: 6px;
      vertical-align: top;
    }
  }
}
