@import "../../assets/css/mixins/colors.scss";
@import "../../assets/css/mixins/keylines.scss";

.selected-results {
  padding-top: 50px;
  text-align: center;

  .go-button {
    border: 0;
    background: transparent;
    height: 90px;
    font-size: 5rem;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    @include respond-to(mobile) {
      height: 65px;
      font-size: 3rem;
    }

    &:hover {
      color: $accent;
    }
  }
}
