@import "../../assets/css/mixins/colors.scss";
@import "../../assets/css/mixins/keylines.scss";

$font-size: 1.2rem;
$bullet-spacing: 1.5rem;

.description {
  // Have description section hug the bottom of the display on mobile.
  @include respond-to(mobile) {
    position: fixed;
    bottom: 0;
  }

  // Remove default bullet, shift list to the left with enough room for custom
  // bullet.
  ul {
    list-style: none;
    padding-top: 50px;
    padding-left: $bullet-spacing + .2rem;
  }

  li {
    padding-bottom: 20px;
    font-size: 1rem;

    // Create a colored bullet using the accent color.
    &::before {
      display: inline-block;
      width: $bullet-spacing;
      margin-left: -$bullet-spacing;
      font-family: 'FontAwesome';
      font-size: .6rem;
      content: "\f111";
      color: $accent;
      line-height: $bullet-spacing - .4rem;
      vertical-align: top;
    }

    &:last-of-type { padding-bottom: 0; }
  }
}
