.search-input {
  flex-shrink: 0;

  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
  // Set position relative so search icon can be placed accurately.
  position: relative;
  box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.52);
  // Ensure input box is not overlapped by description section on mobile view
  // when phone keyboard is shown.
  z-index: 100;

  input {
    width: 100%;
    height: 50px;
    padding-left: 48px;
    font-size: 1.5rem;
    border: none;
    outline: none;
  }

  ::before {
    content: "\F002";
    font-family: FontAwesome;
    position: absolute;
    font-size: 1.5rem;
    left: 14px;
    bottom: 12px;
  }
}
